@let _isPlaying = isPlaying();

<div class="wrapper">
  <div class="wrapper__inner" #wrapperElement>
    <video class="video" #video crossorigin="anonymous">
      @for(source of videoSources; track source.type) {
      <source src="{{ source.source }}" type="{{ source.type }}" />
      }
    </video>
    <div class="video-control-panel">
      <div
        class="video-control-panel__progress"
        #videoProgressWrapperElementRef
      >
        <div class="video-control-panel__progress__empty"></div>
        <div
          class="video-control-panel__progress__filled"
          #filledProgress
        ></div>
        <div class="video-progress__thumb" #indicatorThumbElementRef></div>
      </div>
      <div class="video-control-panel__controls">
        <mat-icon (click)="toggleVideoPlay(!_isPlaying)">{{
          _isPlaying ? "pause" : "play_arrow"
        }}</mat-icon>
        <mat-icon (click)="toggleMuted()">
          {{ isMuted() ? "volume_off" : "volume_down" }}
        </mat-icon>
      </div>
    </div>
  </div>
</div>
