<div class="wrapper">
  <!-- video source -->
  <video class="wrapper__video" #video crossorigin="anonymous">
    <source
      src="https://jplayer.org/video/webm/Big_Buck_Bunny_Trailer.webm"
      type="video/webm"
    />
    <source
      src="https://jplayer.org/video/m4v/Big_Buck_Bunny_Trailer.m4v"
      type="video/mp4"
    />
  </video>

  <!-- video control panel -->
  <div class="wrapper__video-control-panel">
    <div class="wrapper__video-control-panel__progress">
      <div class="wrapper__video-control-panel__progress__empty"></div>
      <div
        class="wrapper__video-control-panel__progress__filled"
        #filledProgress
      ></div>
      <div class="wrapper__video-progress__thumb" #indicatorThumb></div>
    </div>
    <div class="wrapper__video-control-panel__controls">
      <mat-icon (click)="toggleVideoPlay()">{{
        isPlaying ? "pause" : "play_arrow"
      }}</mat-icon>
      <mat-icon>skip_next</mat-icon>
      <mat-icon (click)="toggleMuted()">
        {{ isMuted ? "volume_off" : "volume_down" }}
      </mat-icon>
    </div>
  </div>

  <!-- preview canvas -->
  <canvas class="wrapper__preview" #canvas></canvas>
</div>
